body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    margin: 2vw 5vw;
    font-size: larger;
}

button {
    font-weight: bold;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

#tilfeldigBilde {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 25%;
    border: 5px solid;
}

.beholder {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: auto;
}

.beholder > div {
    text-align: center;
}

.knapp-beholder {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

/* .knapper {
    background-color: antiquewhite;
}

.bilde {
    background-color: aqua;
} */

/* CSS */
.knapp {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 100%;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}